<FluentLabel Typo="Typography.H1">Additional Details</FluentLabel>

<FluentButton IconStart="@(new Icons.Regular.Size20.Edit())" Appearance="Appearance.Accent" OnClick="@(EditClicked)">Edit Additional Details</FluentButton>

<div>
    <p>Description: <b>@StateContainer.CurrentOROrganization!.AdditionalDetails.Description</b></p>
    <p>Website URL: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.WebsiteUrl</b></p>
    <p>Capabilities URL: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.CapabilitiesUrl</b></p>
    <p>Logo URL: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.LogoUrl</b></p>
    <p>Company Email: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.CompanyEmail</b></p>
    <p>Company Phone: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.CompanyPhone</b></p>
    <p>Tags: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.Tags</b></p>
    <p>Publicly Publishable: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.PubliclyPublishable</b></p>
    <p>Countries Of Operation: <b>@string.Join(", ", StateContainer.CurrentOROrganization.AdditionalDetails.CountriesOfOperation)</b></p>
    <p>Industries/Sectors: <b>@string.Join(", ", StateContainer.CurrentOROrganization.AdditionalDetails.Sectors)</b></p>
</div>