<FluentLabel Typo="Typography.H1">Additional Details</FluentLabel>

<FluentButton IconStart="@(new Icons.Regular.Size20.Edit())" Appearance="Appearance.Accent" OnClick="@(EditClicked)">Edit Additional Details</FluentButton>

<div>
    <p>Description: <b>@StateContainer.CurrentOROrganization!.AdditionalDetails.Description</b></p>
    <p>Website URL: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.WebsiteUrl</b></p>
    <p>Capabilities URL: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.CapabilitiesUrl</b></p>
    <FluentIcon Value="@(new Icons.Regular.Size20.Info())" /><i> To include your service in the NoodleBar Catalog, enter the URL to the OpenAPI/Swagger definition of your data service endpoint. Capabilities conforming to the iSHARE standard are also allowed but are not automatically processed due to limited use. For data services following the W3C DCAT standard, use the value of <code>dcat:endpointDescription</code>.</i><br><br />
    <p>Logo URL: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.LogoUrl</b></p>
    <p>Company Email: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.CompanyEmail</b></p>
    <p>Company Phone: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.CompanyPhone</b></p>
    <p>Tags: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.Tags</b></p>
    <p>Publicly Publishable: <b>@StateContainer.CurrentOROrganization.AdditionalDetails.PubliclyPublishable</b></p>
    <p>Countries Of Operation: <b>@string.Join(", ", StateContainer.CurrentOROrganization.AdditionalDetails.CountriesOfOperation)</b></p>
    <p>Industries/Sectors: <b>@string.Join(", ", StateContainer.CurrentOROrganization.AdditionalDetails.Sectors)</b></p>
</div>