@page "/or/organizations/details/{Identifier}"
@using Poort8.Dataspace.CoreManager.OROrganizations.Components;
@rendermode @(new InteractiveServerRenderMode(prerender: false))
@attribute [Authorize]

<PageTitle>OR Organizations</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap=20>
    <FluentLabel Typo="Typography.H1">@(StateContainer.CurrentOROrganization!.Name) Organization Details</FluentLabel>

    <FluentStack Orientation="Orientation.Horizontal" Gap="10">
        <FluentButton IconStart="@(new Icons.Regular.Size20.ArrowStepBack())" Appearance="Appearance.Accent" OnClick="@(BackClicked)">Back</FluentButton>
        <FluentButton IconStart="@(new Icons.Regular.Size20.Edit())" Appearance="Appearance.Accent" OnClick="@(EditOrganizationClicked)">Edit Organization</FluentButton>
    </FluentStack>

    <div>
        <p>PARTY ID: <b>@StateContainer.CurrentOROrganization!.Identifier</b></p>
        <p>PARTY NAME: <b>@StateContainer.CurrentOROrganization.Name</b></p>
        <p>STATUS: <b>@StateContainer.CurrentOROrganization.Adherence.Status</b></p>
        <p>ADHERENCE START DATE: <b>@StateContainer.CurrentOROrganization.Adherence.ValidFrom</b></p>
        <p>ADHERENCE END DATE: <b>@StateContainer.CurrentOROrganization.Adherence.ValidUntil</b></p>
    </div>

    <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>
    <AdditionalDetails/>
    <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>
    <Agreements/>
    <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>
    <AuthorizationRegistries/>
    <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>
    <Certificates/>
    <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>
    <Roles/>
    <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>
    <Services/>
</FluentStack>