@page "/ar/products/details/{ProductId}"
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<PageTitle>AR Products</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalGap=20>
    <FluentLabel Typo="Typography.H1">@(Product.Name) Product Details</FluentLabel>

    <FluentStack Orientation="Orientation.Horizontal" Gap="10">
        <FluentButton IconStart="@(new Icons.Regular.Size20.ArrowStepBack())" Appearance="Appearance.Accent" OnClick="@(BackClicked)">Back</FluentButton>
        <FluentButton IconStart="@(new Icons.Regular.Size20.Edit())" Appearance="Appearance.Accent" OnClick="@(EditClicked)">Edit Product</FluentButton>
    </FluentStack>

    <div>
        <p>Identifier: <b>@Product.ProductId</b></p>
        <p>Name: <b>@Product.Name</b></p>
        <p>Description: <b>@Product.Description</b></p>
        <p>Provider: <b>@Product.Provider</b></p>
        <p>URL: <b>@Product.Url</b></p>
    </div>

    <FluentDivider Style="width: 100%;" Role="DividerRole.Presentation"></FluentDivider>

    <FluentLabel Typo="Typography.H2">Features</FluentLabel>
    <FluentStack Orientation="Orientation.Horizontal">
        <FluentButton IconStart="@(new Icons.Regular.Size20.AddCircle())" Appearance="Appearance.Accent" OnClick="@(AddNewFeatureClicked)">New Feature</FluentButton>
        <FluentButton IconStart="@(new Icons.Regular.Size20.AddCircle())" Appearance="Appearance.Accent" OnClick="@(AddExistingFeatureClicked)">Add Existing Feature</FluentButton>
    </FluentStack>
    
    <FluentDataGrid Items="@Product.Features.AsQueryable()">
        <PropertyColumn Title="Identifier" Property="@(e => e.FeatureId)" Sortable="true" />
        <PropertyColumn Title="Name" Property="@(e => e.Name)" Sortable="true" />
        <PropertyColumn Title="Description" Property="@(e => e.Description)" Sortable="false" />
        <TemplateColumn Title="Actions" Align="@Align.End">
            <FluentButton Title="Edit" IconEnd="@(new Icons.Regular.Size16.Edit())" OnClick="@(() => FeatureEditClicked(@context))" />
            <FluentButton Title="Properties" IconEnd="@(new Icons.Regular.Size16.TagMultiple())" OnClick="@(() => FeaturePropertiesClicked(@context))" />
            <FluentButton Title="Remove" IconEnd="@(new Icons.Regular.Size16.PinOff())" OnClick="@(() => FeatureRemoveClicked(@context))" />
            <FluentButton Title="Delete" IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@(() => FeatureDeleteClicked(@context))" />
        </TemplateColumn>
    </FluentDataGrid>
</FluentStack>
