@page "/arproducts"
@using Poort8.Dataspace.AuthorizationRegistry.Entities;

<PageTitle>Authorization Registry: Products</PageTitle>

<h1>Producten</h1>

<TableMolecule TItem=Product Items=_products Context="product" RowClick="OnProductRowClick">
    <TableHeader>
        <th>Product ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Provider</th>
        <th>URL</th>
    </TableHeader>
    <RowTemplate>
        <td>@product.ProductId</td>
        <td>@product.Name</td>
        <td>@product.Description</td>
        <td>@product.Provider</td>
        <td>@product.Url</td>
    </RowTemplate>
</TableMolecule>

<button type="button" @onclick=AddNewProduct disabled=@(_newProduct is not null)>Voeg toe</button>

<br>

@if (EditedProduct is not null)
{
    <EditForm Model="@EditedProduct">
        <h3>Product</h3>
        <div class="form-group row">
            <label for="productId" class="col-sm-2 col-form-label">
                Product ID
            </label>
            <div class="col-sm-10">
                @if (EditedProduct == _selectedProduct)
                {
                    <CustomInputText id="productId" class="form-control" placeholder="Product ID" disabled @bind-Value=@EditedProduct.ProductId />
                }
                else
                {
                    <CustomInputText id="productId" class="form-control" placeholder="Product ID" @bind-Value=@EditedProduct.ProductId />
                }
            </div>
        </div>
        <div class="form-group row">
            <label for="productName" class="col-sm-2 col-form-label">
                Name
            </label>
            <div class="col-sm-10">
                <CustomInputText id="productName" class="form-control" placeholder="Name" @bind-Value="EditedProduct.Name" />
            </div>
        </div>
        <div class="form-group row">
            <label for="productDescription" class="col-sm-2 col-form-label">
                Description
            </label>
            <div class="col-sm-10">
                <CustomInputText id="productDescription" class="form-control" placeholder="Description" @bind-Value="EditedProduct.Description" />
            </div>
        </div>
        <div class="form-group row">
            <label for="productProvider" class="col-sm-2 col-form-label">
                Provider
            </label>
            <div class="col-sm-10">
                <CustomInputText id="productProvider" class="form-control" placeholder="Provider" @bind-Value="EditedProduct.Provider" />
            </div>
        </div>
        <div class="form-group row">
            <label for="productUrl" class="col-sm-2 col-form-label">
                URL
            </label>
            <div class="col-sm-10">
                <CustomInputText id="productUrl" class="form-control" placeholder="URL" @bind-Value="EditedProduct.Url" />
            </div>
        </div>

        <br>
        <h4>Features</h4>
        <TableMolecule TItem=Feature Items=EditedProduct.Features.ToList() Context="feature">
            <TableHeader>
                <th>Feature ID</th>
                <th>Name</th>
                <th>Description</th>
            </TableHeader>
            <RowTemplate>
                <td>@feature.FeatureId</td>
                <td>@feature.Name</td>
                <td>@feature.Description</td>
            </RowTemplate>
        </TableMolecule>

        <br>
        <h4>Properties</h4>
        <TableMolecule TItem=Property Items=EditedProduct.Properties.ToList() Context="property">
            <TableHeader>
                <th>Key</th>
                <th>Value</th>
                <th>Identifier</th>
            </TableHeader>
            <RowTemplate>
                <td>@property.Key</td>
                <td>@property.Value</td>
                <td>@property.IsIdentifier</td>
            </RowTemplate>
        </TableMolecule>

        <CustomInputText id="productKey" class="form-control" placeholder="Key" @bind-Value=@_productProperty.Key />
        <CustomInputText id="productValue" class="form-control" placeholder="Value" @bind-Value=@_productProperty.Value />
        <input type="checkbox" id="isProductIdentifier" name="isProductIdentifier" @bind=@_productProperty.IsIdentifier />
        <label for="isProductIdentifier">Identifier</label><br>
        <button type="button" @onclick=AddProductProperty disabled=@(string.IsNullOrWhiteSpace(_productProperty.Key) || string.IsNullOrWhiteSpace(_productProperty.Value) || EditedProduct.Properties.Any(p => p.Key.Equals(_productProperty.Key, StringComparison.OrdinalIgnoreCase)))>Voeg property toe</button>
        <button type="button" @onclick=DeleteProductProperty disabled=@(!EditedProduct.Properties.Any(p => p.Key.Equals(_productProperty.Key, StringComparison.OrdinalIgnoreCase)))>Verwijder property</button>
    </EditForm>

    <br>

    if (EditedProduct == _selectedProduct)
    {
        <button type="button" @onclick=UpdateProduct disabled=@DisableUpdateProduct(EditedProduct)>Update product</button>
        <button type="button" @onclick=DeleteProduct>Verwijder product</button>
    }
    else
    {
        <button type="button" @onclick=CreateProduct disabled=@DisableCreateProduct(EditedProduct)>Maak product aan</button>
    }

    <br>
}

<h1>Features</h1>

<TableMolecule TItem=Feature Items=_features Context="feature" RowClick="OnFeatureRowClick">
    <TableHeader>
        <th>Feature ID</th>
        <th>Name</th>
        <th>Description</th>
    </TableHeader>
    <RowTemplate>
        <td>@feature.FeatureId</td>
        <td>@feature.Name</td>
        <td>@feature.Description</td>
    </RowTemplate>
</TableMolecule>

<button type="button" @onclick=AddNewFeature disabled=@(_newFeature is not null)>Voeg toe</button>

<br>

@if (EditedFeature is not null)
{
    <EditForm Model="@EditedFeature">
        <h3>Feature</h3>
        <div class="form-group row">
            <label for="featureId" class="col-sm-2 col-form-label">
                Feature ID
            </label>
            <div class="col-sm-10">
                @if (EditedFeature == _selectedFeature)
                {
                    <CustomInputText id="featureId" class="form-control" placeholder="Feature ID" disabled @bind-Value=@EditedFeature.FeatureId />
                }
                else
                {
                    <CustomInputText id="featureId" class="form-control" placeholder="Feature ID" @bind-Value=@EditedFeature.FeatureId />
                }
            </div>
        </div>
        <div class="form-group row">
            <label for="featureName" class="col-sm-2 col-form-label">
                Name
            </label>
            <div class="col-sm-10">
                <CustomInputText id="featureName" class="form-control" placeholder="Name" @bind-Value="EditedFeature.Name" />
            </div>
        </div>
        <div class="form-group row">
            <label for="featureDescription" class="col-sm-2 col-form-label">
                Description
            </label>
            <div class="col-sm-10">
                <CustomInputText id="featureDescription" class="form-control" placeholder="Description" @bind-Value="EditedFeature.Description" />
            </div>
        </div>

        <br>
        <h4>Products</h4>
        <TableMolecule TItem=Product Items=EditedFeature.Products.ToList() Context="product">
            <TableHeader>
                <th>Product ID</th>
                <th>Name</th>
                <th>Description</th>
            </TableHeader>
            <RowTemplate>
                <td>@product.ProductId</td>
                <td>@product.Name</td>
                <td>@product.Description</td>
            </RowTemplate>
        </TableMolecule>

        <CustomInputText id="featureProduct" class="form-control" placeholder="Product ID" @bind-Value=@_featureProductId />
        <button type="button" @onclick=AddFeatureProduct disabled=@(_products?.Any(p => p.ProductId.Equals(_featureProductId, StringComparison.OrdinalIgnoreCase)) != true || EditedFeature.Products.Any(p => p.ProductId.Equals(_featureProductId, StringComparison.OrdinalIgnoreCase)))>Voeg product toe aan feature</button>
        <button type="button" @onclick=DeleteFeatureProduct disabled=@(!EditedFeature.Products.Any(p => p.ProductId.Equals(_featureProductId, StringComparison.OrdinalIgnoreCase)))>Verwijder product van feature</button>

        <br>
        <h4>Properties</h4>
        <TableMolecule TItem=Property Items=EditedFeature.Properties.ToList() Context="property">
            <TableHeader>
                <th>Key</th>
                <th>Value</th>
                <th>Identifier</th>
            </TableHeader>
            <RowTemplate>
                <td>@property.Key</td>
                <td>@property.Value</td>
                <td>@property.IsIdentifier</td>
            </RowTemplate>
        </TableMolecule>

        <CustomInputText id="featureKey" class="form-control" placeholder="Key" @bind-Value=@_featureProperty.Key />
        <CustomInputText id="featureValue" class="form-control" placeholder="Value" @bind-Value=@_featureProperty.Value />
        <input type="checkbox" id="isFeatureIdentifier" name="isFeatureIdentifier" @bind=@_featureProperty.IsIdentifier />
        <label for="isFeatureIdentifier">Identifier</label><br>
        <button type="button" @onclick=AddFeatureProperty disabled=@(string.IsNullOrWhiteSpace(_featureProperty.Key) || string.IsNullOrWhiteSpace(_featureProperty.Value) || EditedFeature.Properties.Any(p => p.Key.Equals(_featureProperty.Key, StringComparison.OrdinalIgnoreCase)))>Voeg property toe</button>
        <button type="button" @onclick=DeleteFeatureProperty disabled=@(!EditedFeature.Properties.Any(p => p.Key.Equals(_featureProperty.Key, StringComparison.OrdinalIgnoreCase)))>Verwijder property</button>
    </EditForm>

    <br>

    if (EditedFeature == _selectedFeature)
    {
        <button type="button" @onclick=UpdateFeature disabled=@DisableUpdateFeature(EditedFeature)>Update feature</button>
        <button type="button" @onclick=DeleteFeature>Verwijder feature</button>
    }
    else
    {
        <button type="button" @onclick=CreateFeature disabled=@DisableCreateFeature(EditedFeature)>Maak feature aan</button>
    }

    <br>
}